@using TableTree.Web.ViewModels.Cart
@model List<ProductViewModel>

@{
    ViewData["Title"] = "Cart";
    decimal totalAmount = 0;
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

@foreach (var product in Model)
{
    totalAmount += product.Price * product.Quantity;
        <div class="row align-items-center mb-4 py-3" style="border-bottom: 1px solid #ccc;">
            <div class="col-md-2 text-center">
            @if (!string.IsNullOrEmpty(product.ImageUrl))
            {
                <img src="@product.ImageUrl" class="img-fluid" style="max-height: 100px; object-fit: contain;" alt="@product.Name" />
            }
            else
            {
                <img src="~/images/no-image.jpg" class="img-fluid" style="max-height: 100px; object-fit: contain;" alt="No Image Available" />
            }
            </div>
            <div class="col-md-2 text-start">
                <h5 class="mb-0">@product.Name</h5>
            </div>
            <div class="col-md-1 text-start">
                <h5 class="mb-0">@product.Price.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("fr-FR"))</h5>
            </div>
            <div class="col-md-1 text-start">
                <label>Quantity: <div> @product.Quantity</div></label>
            </div>
            <div class="col-2">
                <form asp-controller="Cart" asp-action="AddToCart" method="post">
                    <input style="width:2.5em" type="number" value="@product.Quantity" name="quantity" id="quantity" size="4" max="9999" min="1" value="1" step="1"></input>
                    <input type="hidden" name="id" value="@product.Id" />
                    <button type="submit" class="btn btn-sm mb-2 w-50 fw-bold rounded btn-primary">Update</button>
                </form>
            </div>
            <div class="col-md-1 text-start">
                <label>Total: @((product.Price * product.Quantity).ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("fr-FR")))</label>
            </div>
            <div class="col-md-2 text-end">
                <form asp-controller="Cart" asp-action="RemoveFromCart" method="post">
                    <input type="hidden" name="productId" value="@product.Id" />
                    <button type="submit" class="btn btn-danger">Remove</button>
                </form>
            </div>
        </div>
}

<div class="text-end">
    <h4>Total Amount: @totalAmount.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("fr-FR"))</h4>
    <form asp-controller="Order" asp-action="GetInformation" method="post">
        @for (int i = 0; i < Model.Count; i++)
        {
                <input type="hidden" name="products[@i].Id" value="@Model[i].Id" />
                <input type="hidden" name="products[@i].Name" value="@Model[i].Name" />
                <input type="hidden" name="products[@i].Price" value="@Model[i].Price" />
                <input type="hidden" name="products[@i].Quantity" value="@Model[i].Quantity" />
                <input type="hidden" name="products[@i].ImageUrl" value="@Model[i].ImageUrl" />
                <input type="hidden" name="products[@i].TreeType" value="@Model[i].TreeType" />
                <input type="hidden" name="products[@i].Quantity" value="@Model[i].Quantity" />
        }
        <button type="submit" class="btn btn-success">Buy</button>
    </form>
</div>