@using TableTree.Web.ViewModels.Cart;
@model List<ProductViewModel>

@{
    ViewData["Title"] = "Cart";
    decimal totalAmount = 0;
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<form asp-controller="Order" asp-action="AddToOrders" method="post">
    @foreach (var product in Model)
    {
        totalAmount += product.Price * product.Quantity;
            <div class="row align-items-center mb-4 py-3" style="border-bottom: 1px solid #ccc;">
                <div class="col-md-2 text-center">
                @if (!string.IsNullOrEmpty(product.ImageUrl))
                {
                            <img src="@product.ImageUrl" class="img-fluid" style="max-height: 100px; object-fit: contain;" alt="@product.Name" />
                }
                else
                {
                            <img src="~/images/no-image.jpg" class="img-fluid" style="max-height: 100px; object-fit: contain;" alt="No Image Available" />
                }
                </div>
                <div class="col-md-2 text-start">
                    <h5 class="mb-0">@product.Name</h5>
                </div>
                <div class="col-md-2 text-start">
                    <h5 class="mb-0">@product.Price.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("fr-FR"))</h5>
                </div>
                <div class="col-md-2 text-start">
                    <label>Quantity: <div> @product.Quantity</div></label>
                </div>
                <div class="col-md-2 text-end">
                    <button type="button" class="btn btn-danger">Remove</button>
                </div>

                <!-- Hidden inputs for each product property -->
                <input type="hidden" name="Products[@Model.IndexOf(product)].Id" value="@product.Id" />
                <input type="hidden" name="Products[@Model.IndexOf(product)].Name" value="@product.Name" />
                <input type="hidden" name="Products[@Model.IndexOf(product)].Price" value="@product.Price" />
                <input type="hidden" name="Products[@Model.IndexOf(product)].ImageUrl" value="@product.ImageUrl" />
                <input type="hidden" name="Products[@Model.IndexOf(product)].TreeType" value="@product.TreeType" />
                <input type="hidden" name="Products[@Model.IndexOf(product)].Quantity" value="@product.Quantity" />
            </div>
    }
    <div class="col-md-12 text-end">
        @if (Model.Count != 0)
        {
                <label>Total amount of products is: <h5>@totalAmount</h5></label>
        }
    </div>
    <div class="col-md-12 mt-3 text-end">
        @if (Model.Count != 0)
        {
                <button type="submit" class="btn btn-success">Buy</button>
        }
    </div>
</form>